# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Virtual env
.venv/
venv/

# Django
*.log
db.sqlite3
staticfiles/
media/

# Environment variables
.env
.env.*
!.env.example

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Migrations (opcional: mantenha migrations no repo, recomendado)
# */migrations/*.py
# !*/migrations/__init__.py
